
@model OnlineShopEntity.Admin
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}
<div class="center_content">
    <div class="center_title_bar">Admin</div>
    <div class="prod_box_big">
        <div class="top_prod_box_big"></div>
        <div class="center_prod_box_big">
            <div class="contact_form">
                <h3>Wlcome @Model.FirstName @Model.LastName</h3>
            </div>
        </div>
    </div>
</div>

