@model OnlineShopEntity.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}


<div class="center_content">
    <div class="center_title_bar">Edit Category</div>
    <div class="prod_box_big">
        <div class="top_prod_box_big"></div>
        <div class="center_prod_box_big">
            <div class="contact_form">
                <h2>Update</h2>
                <form method="post">
                    CategoryName:<input type="text" name="CategoryName"  value="@Model.CategoryName"/>
                    <input type="submit" name="submit" value="Save" />
                </form>

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>
</div>
