
@{
    ViewBag.Title = "CheckoutPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3> Your delivery address is : @ViewBag.address</h3>
<h3>Thank You for doing shopping with us</h3>
<h3>You will get your product within the next 5 business days. Fell free to contact us if you have any problems.</h3>
<br /><br />
<h2>
    <a href="~/Home/Index">Return Home</a>
</h2>

